@import 'tailwindcss';
@import './theme/variables.css';
@import './components/base.css';
@import './components/data-display.css';
@import './components/layout.css';
@import './components/utilities.css';
@import './themes/overrides.css';

@variant dark (&:where(.dark, .dark *));
